name: sql_generator CI/CD & Docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
    
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run tests
        run: pytest
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build Docker image
        run: docker build -t etl_sql_generator:latest -t etl_sql_generator:1.0.0 .
      
      - name: Tag latest Docker image
        run: docker tag etl_sql_generator:latest ${{ secrets.DOCKERHUB_USERNAME }}/etl_sql_generator:latest

      - name: Tag version Docker image
        run: docker tag etl_sql_generator:1.0.0 ${{ secrets.DOCKERHUB_USERNAME }}/etl_sql_generator:1.0.0

      - name: Push latest Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/etl_sql_generator:latest
      
      - name: Push version Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/etl_sql_generator:1.0.0